
@{
    Layout = "_Layout";
}


    <div class="newsletter">
        <h1>
            Buscar
            <span>Mensaje</span>
        </h1>
    </div>
    <form asp-controller="Mensajes" asp-action="Buscar" method="post" class="form-inline">
        <div class="input-group input-group-merge search-bar">
            <span class="input-group-text" id="topbar-addon">
                <svg class="icon icon-xs" x-description="Heroicon name: solid/search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                </svg>
            </span>
            <input type="text" class="form-control" id="mensaje" name="mensaje" placeholder="Buscar" aria-label="Buscar" aria-describedby="topbar-addon">
        </div>
        <button  type="submit" class="btn btn-gray-800 d-inline-flex align-items-center me-2">
            <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
            Buscar
        </button>
    </form>

