
@{ Layout = "_Layout"; }
@model IEnumerable<Api.Models.ContactosI>



                        @foreach (var item in Model)
                        {
                            @foreach (var amigo in item.ContactosAmigos)
                            {
                            <div class="col-6 col-md-3 text-center mb-4">

                                <h3 class="fw-bolder">@amigo</h3>
                                <p class="text-gray">@Html.ActionLink("Mensaje", "Index", "Mensajes", new { id = amigo })</p>
                            </div>
                         }}
                        <div class="col-6 col-md-3 text-center mb-4">
                            <h3 class="fw-bolder">Nuevo amigo</h3>
                            <p class="text-gray"><a href="@Url.Action("AddContacto", "Menu")"><i class="fa fa-plus-circle" aria-hidden="true"></i> Añadir nuevo contacto</a></p>
                        </div>

                    